node_modules
dist
.expo
.turbo
.env
.env.local
.env*.local
coverage
*.log
apps/mobile/.expo
apps/mobile/.env
apps/api/.env
apps/wildlife-inference/.env
apps/mobile/.cxx/
apps/mobile/.gradle-user-home/
apps/mobile/android/
apps/mobile/ios/
apps/wildlife-inference/README.md
apps/api/firebase-service-account.json
docs/firebase-fcm.md
apps/mobile/google-services.json
