@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Cairo', 'Inter', sans-serif;
  background: #1a1a2e;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

scrollbar-width: none;